/* Commons rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 1170px;
  margin: auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


/* Debug rules */
.debug header {
  height: 100px;
  background-color: aquamarine;
}

.debug main {
  /* height: 2200px; */
  background-color: bisque;
}

.debug footer {
  height: 400px;
  background-color: cadetblue;
}
.debug .logo,
.debug .login {
  height: 100px;
  background-color: rgba(165, 42, 42, 0.5);
}

.debug .menu {
  height: 100px;
  background-color: chocolate;
}
.debug .hero_image {
  height: 600px;
  background-color: rgba(220, 20, 60, 0.774);
}

.debug section {
  height: 400px;
}
.debug .col-40,
.debug .col-60 {
  height: 400px;
}

.debug .col-40 {
  background-color: pink;
}

.debug .col-60 {
  background-color: blueviolet;
}
/* Utility rules */
.bg-white {
  background-color: white;
}

.bg-gray {
  background-color: #F6F6F6;
}

.col-40,
.col-60 {
  float: left;
}

.col-40 {
  width: 40%;
}

.col-60 {
  width: 60%;
}

.list-inline li {
  list-style: none;
  display: inline-block;
}

.text-right {
  text-align: right;
}
p.lead {
  font-size: 1.1rem;
  line-height: 36px;
  margin: 1rem 0;
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  text-decoration: none;
  font-size: 0.9rem;
  display: inline-block;
  line-height: 1rem;
}

.btn_light {
  background-color: white;
  color: black;
}

.btn_light:hover {
  color: #3161E0;
  text-decoration: none;
}

.btn_dark {
  background-color: #23272A;
  color: white;
}

.btn_large {
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  font-size: 1.2rem;
}

.px-1 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/*******************
* Header 
******************/
#site_header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  line-height: 100px;
}

#site_header .logo>img {
  vertical-align: middle;
}
#site_header .logo,
#site_header .menu,
#site_header .login {
  float: left;
}

#site_header .logo,
#site_header .login {
  width: 20%;
}

#site_header .menu {
  width: 60%;
  text-align: center;
}

#site_header .menu a {
  color: white;
  text-decoration: none;
}

#site_header .menu a:hover {
  text-decoration: underline;
}



/* Menu */

.menu a {
  padding-right: 1rem;
}

/****************
* Main 
****************/

/* .hero image */
.hero_image {
  background-image: url('../img/jumbo.png');
  background-position: top;
  background-size: cover;
}

.hero_text {
  width: 50%;
  margin: auto;
  text-align: center;
  color: white;
  padding: 10rem 0;
}

.hero_text .title {
  font-size: 3.5rem;
}
/* Footer */