/* Commons rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 1170px;
  margin: auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


/* Debug rules */
.debug header {
  height: 100px;
  background-color: aquamarine;
}

.debug main {
  /* height: 2200px; */
  background-color: bisque;
}

.debug footer {
  height: 400px;
  background-color: cadetblue;
}
.debug .logo,
.debug .login {
  height: 100px;
  background-color: rgba(165, 42, 42, 0.5);
}

.debug .menu {
  height: 100px;
  background-color: chocolate;
}
.debug .hero_image {
  height: 600px;
  background-color: rgba(220, 20, 60, 0.774);
}

.debug section {
  height: 400px;
}
.debug .col-40,
.debug .col-60 {
  height: 400px;
}

.debug .col-40 {
  background-color: pink;
}

.debug .col-60 {
  background-color: blueviolet;
}
/* Utility rules */
.bg-white {
  background-color: white;
}

.bg-gray {
  background-color: #F6F6F6;
}

.col-40,
.col-60 {
  float: left;
}

.col-40 {
  width: 40%;
}

.col-60 {
  width: 60%;
}

.list-inline li {
  list-style: none;
  display: inline-block;
}

.text-right {
  text-align: right;
}
/* Header */
#site_header .logo,
#site_header .menu,
#site_header .login {
  float: left;
}

#site_header .logo,
#site_header .login {
  width: 20%;
}

#site_header .menu {
  width: 60%;
}

#site_header .menu a {
  color: white;
  text-decoration: none;
}

#site_header .menu a:hover {
  text-decoration: underline;
}

#site_header {
  background-color: #3161E0;
  height: 100px;
  line-height: 100px;
}

#site_header .logo>img {
  vertical-align: middle;
}

/* Menu */

.menu a {
  padding-right: 1rem;
}

a.btn {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  text-decoration: none;
  font-size: 0.9rem;
}

a.btn.btn_light {
  background-color: white;
  color: black;
}

a.btn.btn_light:hover {
  color: #3161E0;
  text-decoration: none;
}

/* Main */

/* Footer */