* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #000;
}

/* Live Menu */
header {
  background: #ededed;
}

nav {
  width: 70%;
  height: 60px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  list-style: none;
  display: flex;
}

.menu li {
  margin: 0.5rem;
}