/* Common */
body {
  margin: 0;
  }
main {
  padding: 0 0.5rem;
  margin: auto;
}

thead {
  background-color: #20A9E5;
  color: white;
  text-align: left;
}


/* Utility */

.bs-0 {
  border-spacing: 0;
}

.w-60 {
  width: 60%;
}
.w-55 {
  width: 55%;
}
.pl-1 {
  padding-left: 1rem;
}


.text-main {
  color: #4EA0FF;
}

.odd {
  background-color: #B1E5F2;
}

.mark {
  background-color: yellow;
}

/* Site Header */

#site_header {
  background-color: #4EA0FF;
  background-image: url('../img/pattern.png');
  background-size: 480px;
}

.logo {
  height: 50px;
  padding: 3rem 0.5rem 1.5rem;
}
/* Main */

.title {
/*   width: 58%; */
  font-size: 2.5rem;
  margin-bottom: 0.25rem;
}

.text-gray {
  color: gray;
}

.date {
  font-size: 0.7rem;
}

.caption {
  font-size: 0.8rem;
}

/* Reccomended */
.monitor {
  background-image: url('../img/monitor.jpg');
  width: 265px;
  height: 220px;
  background-repeat: no-repeat;
  color: white;
  font-size: 1.5em;
  font-weight: 900;
}

.graph {
  background-image: url('../img/graph.jpg');
  width: 265px;
  height: 220px;
  background-repeat: no-repeat;
  color: white;
  font-size: 1.5em;
  font-weight: 900;
}

.image-text {
  padding-top: 1rem;
  padding-left: 0.5rem;
}

.item {
  position: relative;
  color: white;
}

.item_image {
  width: 312px;
  height: 208px;

}

.text {
  position: absolute;
  top: 10px;
  left: 5px;
}