body {
  background-color: black;
  margin: 0;
  }

  #site_header {
    background-color: #4EA0FF;
    background-image: url('../img/pattern.png');
    background-size: 480px;
  }

  .logo {
    height: 50px;
    padding: 3rem 0.5rem 1.5rem;
}