* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#site_heade {
  background-color: black;
}

nav {
  padding: 1rem 0;
}

a {
  color: white;
}

.container {
  width: 1170px;
  margin: auto;
}

.aboutme {
  background-color: yellow;

}