/* Common */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Debug */
.debug main {
  background-color: fuchsia;
}

.debug footer {
  background-color: palegreen;
}

.debug aside {
  background-color: paleturquoise;
}

.debug aside .top {
  background-color: pink;
}

.debug .col {
  background-color: white;
  height: 300px;
}
/* Colors  */

.bg-dark {
  background-color: #000;
}

.bg-dark-blue {
  background-color: #141922;
}

.bg-dark-gray {
  background-color: #282828;
}

.bg-green {
  background-color: #ADFF2F;
}

.text-dark-gray {
  color: #6F6F6F;
}

.text-gray {
  color: #7D7F84;
}

/* Utility */
.d_flex {
  display: flex;
}

.align_center {
  align-items: center;
}

/* Struttura */
body {
  background: #141922;
  height: 100vh;
  overflow: hidden;
  font-family: 'Montserrat',
  sans-serif;
}
img {
  max-width: 100%;
}
.container {
  max-width: 90%;
  margin: auto;
}

.row {
  width: 100%;
  margin: 1rem -0.5rem;
}

.row::after {
  clear: both;
  display: table;
  content: "";
}

.col {
  width: 100%;
  float: left;
  padding: 0 0.5rem;
}

/* Struttura con flex*/
/* Main */
main {
  height: calc(100vh - 100px);
  display: flex;
}

/* Sidebar */
aside {
  width: 220px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #000;
  color: #6F6F6F;
  /*   justify-content: space-between; */
}

/*
aside .top {
   height: 400px; 
}
*/
aside .bottom {
  min-height: 100px;
  background-color: #000;
  margin-top: auto;
}

/* Content */
.content {
  width: calc(100% - 220px);
  height: 100%;
  background-color: #141922;
  overflow-y: auto;
}


/* Footer */
footer {
  height: 100px;
  background-color: #282828;
}


/* SIDEBAR TESTS */
aside {
  overflow: hidden;
  height: 100%;
}

.debug .logo {
  background-color: blue;
}

.debug .menu {
  background-color: crimson;
}


/* Playlist Section with scrollbar */
.create {
  height: 50px;
  display: flex;
  align-items: center;
}

.create i {
  vertical-align: middle;
}

.playlist {
  overflow: hidden;
  height: 100%;
}

.playlist>.list {
  overflow-y: auto;
  height: calc(100% - 50px);
}

/* Bottom */
.bottom {
  color: white;
  padding: 0.5rem;

}

.download {
  display: flex;
  margin: 0.5rem 0;
}

/* Dettaglio Sidebar */

.logo,
.playlist {
  padding: 0.5rem;
}

.menu li a,
.list li a {
  color: #6F6F6F;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 600;
}

.menu li {
  padding: 0 0.5rem;
  margin-bottom: 0.75rem;
}

.menu .active a {
  color: white;
  opacity: 1;
}

.menu img {
  height: 25px;
  vertical-align: middle;
  opacity: 0.5;
}



.menu .active img {
  opacity: 1;
}

.menu .active {
  border-left: 2px solid #ADFF2F;
}

/* Playlist */

.create .btn {
  color: gray;
  text-decoration: none;
}

.create .btn i {
  margin-right: 0.75rem;
}

ul.list li {
  line-height: 2rem;
}

/* sidebar bottom */
aside .bottom {
  color: #6F6F6F;
  font-weight: 600;
  font-size: 0.8rem;
}

aside .bottom .download img {
  opacity: 0.5;
  height: 15px;
  vertical-align: middle;
  margin-right: 0.5rem;
}

.profile {
  border-top: 1px solid gray;
  padding-top: 1rem;
  color: white;
}


/* Content  */
section h3 {
  color: white;
}

.popuplar-artists img {
  border-radius: 50%;
}

/*************
 Footer */
footer {
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}


/* Song */
.song_text strong {
  font-size: 0.7rem;
  color: #6F6F6F;
}

.song_info img {
  margin-right: 1rem;
}

.song_actions {
  margin-left: 1rem;
}

.player_controls {
  text-align: center;
}

.player {
  width: 50%;
}


.time {
  height: 3px;
  background: #616161;
  margin-top: 1rem;
  border-radius: 2px;
}

.time_gone {
  width: 20%;
  height: 100%;
  background-color: gainsboro;
  border-radius: 2px;
}

.time:hover>.time_gone {
  background-color: #ADFF2F;
}

/* MQ */
@media screen and (min-width:568px) {
  .col {
    width: calc(100% / 2);
  }
}

@media screen and (min-width:768px) {
  .col {
    width: calc(100% / 4);
  }
}

@media screen and (min-width:1024px) {
  .col {
    width: calc(100% / 6);
  }
}
